<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevate Industries</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Main Home</a></li>
                    <li><a href="{{ url_for('products.home') }}">Product Home</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropbtn">Our CTE's</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('main.business') }}">Business</a>
                        <a href="{{ url_for('main.website_design') }}">Website Design</a>
                        <a href="{{ url_for('main.construction') }}">Construction</a>


                    </div>
                    </li>

                    <li><a href="{{ url_for('main.about') }}">About Us</a></li>
                    <li><a href="{{ url_for('main.shop') }}">Shop</a></li>
                    <li><a href="{{ url_for('main.blog') }}">Blog</a></li> <!-- Added Blog link -->
                    <!-- Orders Dropdown Menu -->
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropbtn">Orders</a>
                            <div class="dropdown-content">
                                <a href="{{ url_for('orders.place_order') }}">Place Order</a>
                                <a href="{{ url_for('orders.my_orders') }}">My Orders</a>
                            </div>
                        </li>
                    <!-- Add Registration/Login Links -->

                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
    {% block content %}
        <!-- Content will go here -->
    {% endblock %}
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Elevate Industries Nampa. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
