{% extends 'base.html' %}

{% block content %}
    <main style="text-align: center;">
        <h1>Welcome to Elevate Industries</h1>
        <h1>Shop</h1>
        <p>Explore our selection of school supplies and merchandise. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <h2>Products</h2>
        <ul style="list-style-type: none; padding: 0;">
            {% for product in products %}
                <li>{{ product.name }} - ${{ product.price }}</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
